<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Web Crawler</title>
  <link rel="stylesheet" href="../../css/bootstrap.min.css">
  <link rel="stylesheet" href="../../css/index.css">
  <script src="./app.js"></script>
</head>

<body>
  <div class="container">
    <div class="row pt-3"></div>
    <div class="row">
      <label for="urlInput" class="col-auto col-form-label">Enter URL to monitor:</label>
      <div class="col-auto col-lg-8">
        <input type="text" name="urlInput" id="urlInput" class="form-control" placeholder="https://www.google.com/">
      </div>
      <div class="col-auto">
        <button class="btn btn-primary" id="submitButton" onclick="initiate()">Submit</button>
      </div>
    </div>

    <div class="row mt-3 align-content-center">
      <div class="col-12" id="infoSection">
      </div>
    </div>

    <div class="row pt-3 mb-2">
      <div class="col overflow-auto">
        <div class="card">
          <div class="card-header">
            <span id="linksVisited" class="badge badge-primary badge-pill"></span>
            Total links checked: 
          </div>
          <ul class="list-group list-group-flush" id="linkList">
          </ul>
        </div>
      </div>
      <div class="col-4">
        <div class="form-group">
          <label for="filterInput">Keywords to check in pages: (one per line)</label>
          <textarea class="form-control" id="filterInput" rows="20">
Guarantee
Guaranteed
Millions
$1000s
Work part time
Cures COVID
Cures virus
Cures cancer
Cures depression
Cures ADD
Cures ADHD
Cures any health ailment
Ferrari
Lamborghini
Gold
Lifestyle
Promise</textarea>
        </div>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="../../css/bootstrap.min.js"></script>
</body>

</html>